/** @format */

body {
    background: #f48db4;
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-top: 40px;
}

p {
    text-align: center;
    display: block;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.footer a {
    margin: 0 20px;
    color: rgb(77, 33, 119);
}

.footer a :hover {
    color: rgb(77, 33, 119);
}

.croissant-pic {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}